/* Google font 'Press Start 2p' */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive, Helvetica, sans-serif;
}

body {
    background-image: url('../images/1155251.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    background-attachment: fixed; */
    color: #000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#canvas {
    border-radius: 5px;
    background-image: url("../images/supmarionbg.png");
    background-size: cover;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: fff;
    text-align: center;
}

#overlay #card {
    background-color: #DADBD0;
    width: 500px;
    height: 190px;
    border: 1px solid black;
    border-radius: 5px;
    animation: cardIn 1s forwards;
    display: none;
}

#overlay #card > p {
    font-size: 32px;
    margin-top: 45px;
    user-select: none;
}

#overlay #card > button {
    outline: none;
    color: #000;
    border: 1px solid #000;
    background-image: linear-gradient(to right, #0000ff, #ffff00, #ff0000, #00ff00);
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes cardIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}